/* VARIABLES.CSS */
:root {
  /* Main Colors */
  --orange: #ee7a00;
  --brown: #301e1a;
  --cream: #dfe0df;
  --gray: #a1756b;

  /* Component Colors */
  --header-bg: var(--brown);
  --sidebar-bg: var(--gray);
  --main-bg: var(--cream);
  --footer-bg: var(--brown);

  /* Text Colors */
  --text-light: #ffffff;
  --text-dark: rgba(51, 51, 51, 0.7);

  /* Neumorphic properties */
  --shadow-light: rgba(255, 255, 255, 0.7);
  --shadow-dark: rgba(48, 30, 26, 0.15);
  --neu-distance: 8px;
  --neu-radius: 15px;
  --neu-padding: 20px;

  /* Spacing */
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 2rem;

  /* Font Families */
  --font-nav: "Quicksand", sans-serif;
  --font-main: "Roboto Slab", sans-serif;
  --font-accent: "Fira Sans", sans-serif;

  /* Font Sizes */
  --text-xs: 0.675rem; /* 10.8px */
  --text-sm: 0.787rem; /* 12.6px */
  --text-base: 0.9rem; /* 14.4px */
  --text-lg: 1rem; /* 16px */
  --text-xl: 1.125rem; /* 18px */
  --text-2xl: 1.35rem; /* 21.6px */
  --text-3xl: 1.8rem; /* 28.8px */
  --text-4xl: 2.25rem; /* 36px */
  --text-5xl: 2.7rem; /* 43.2px */

  /* Shadow variables */
  --shadow-dark: rgba(0, 0, 0, 0.1);
  --shadow-light: rgba(255, 255, 255, 0.5);
  --neu-distance: 5px;
  --neu-radius: 8px;
  --neu-padding: 1rem;
}
