/* HEADER.CSS */

.header {
  grid-area: 1 / 1 / 2 / 6;
  background-color: var(--gray);
  color: var(--text-light);
  opacity: 0.9;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 2rem; /* Smaller padding */
  height: 60px; /* Fixed height */
  align-items: center; /* Center content vertically */
}

.header-logo h1 {
  font-family: var(--font-accent);
  font-size: var(--text-3xl);
  margin: 0;
  color: var(--brown);

  letter-spacing: 0.02em;
}

.header-nav ul {
  display: flex;
  font-family: var(--font-nav);
  font-weight: bold;
  gap: var(--spacing-md);
  color: var(--brown);
  list-style: none;
}

.header-nav a {
  color: var(--brown);
  text-decoration: none;
  font-size: var(--text-base);
  transition: opacity 0.3s ease;
}
